.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card {
  margin-bottom: 20px !important;
}

.textfield {
  width: 100% !important;
}

.btn {
  width: 100% !important;
}
